h1 {
    text-align: center;
    padding: 8px;
}
h2 {
    padding: 8px;
}

.perfil {
    padding: 8px
}
.apresentacao {
    text-indent: 1em;
    text-align: justify;
    margin: 0;
    padding: 8px;
    margin-right: 10em;
}
.rede {
    padding: 30px;
}