.container {
  display: grid;
  grid-template: repeat(3, 100px) / repeat(4, 1fr);
}

.box {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

.b1 {
  background-color: aquamarine;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
}

.b2 {
  background-color: coral;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.b3 {
  background-color: grey;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 5;
}
